body {
	 margin: 0;
	 font-family: Arial, sans-serif;
	 font-size: 15px;
	 line-height: 1.5;
	 color: #070707;
   background:url("img/p1.png");
}
.link a {
    text-align: center;
    color: #050505;
}
.link1  {
    text-align  : center;

}
.link1 a {
    color: #050505;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
   .page {
    	width: 1000px;
    	margin: 20px auto;
      background-color: #fff;
   }

.container {
    display: flex;
}

   .header {
   	padding: 20px;
    background-color: #121212;
    
   }

   .header-title {
    margin: 0;
    font-size: 24px;
    color: #fff ;
    text-align: center;
   }
   .header-subtitle {
    margin: 0;
    font-size: 16px;
    color: #dfdfdf;
    text-align: center;
    font-weight: normal;
   }
   /*Nav*/ 
   .nav {
    text-align: center;
    background: #cecece;  
   }

   .nav-link {
    display: inline-block;
    padding: 8px 12px;
    color: #050505;
    text-decoration: none;
   }

   .nav-link:hover {
    background-color: #eee;
   }
   
   /*content*/
   .content {
       width: 800px;
    padding: 0px;
   }

   .content-title {
       margin: 0 0 15px;
       font-size: 24px;
       color: red;
   }
    .content-text {
      margin-bottom: 20px;
    }

   
    .red-more {
      color: 1d7abe;
      text-decoration:none; 
    }

   .red-more:hover { 
    text-decoration: underline;

   }
 /*sidebar*/
.sidebar {
    width: 200px;
    background-color: #a0a6ab;
    padding: 10px;
}
.sidebar-title {
    color: #ffffff;
}

   /*Article*/

   .article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
   }

   .article-title {
    margin: 0 0 5px;
    font-size: 18px;
    color: #0d448e;

   }
    .article-title a {
      color: inherit;
      text-decoration: none;

    }
     .article-title a:hover {
      text-decoration: underline;
     }

   .article-data {
    font-size: 12px;
    color: #a4a4a4;
   }


   /*Footer*/
   .footer {
    padding: 20px;
    background-color: #121212;
   color: #fff;
    text-align: center;
   }






   /*dubai1*/
   .title {
     text-align: center;
     color: red;
   }


   .nav-link {
    color: blue;
   }


   .post {
      padding: 40px;
   }


  /*dubai2*/
  .post {
     text-align: center;
  }
  

 /*dubai3*/ 
 .title-1 {
  color: red;
 }

 .content-text {
    line-height: 31px;
}

.page-banner {
  text-align: center;
}

.video-size {
    object-fit: cover;
}
