body {
    margin:0;

    font-family: Arial, sans-serif;
    font-size:15px;
    color: #121212;
}
.container {
    width: 500px;
    padding: 20px;
    margin: 20px auto;

    background-color: #52e014;
}
.title {
    color: #a50010;
}
.nav-link {

}